<% content_for :head do %>
<%= stylesheet_link_tag "notice.css" %>
<% end %>
<form action="/email/addreferences" method="post" id='referencesForm'>
 	<h1>Add a 10% discount</h1>
  <p>Invite 5 friends or more and we will give you an additional 10% discount on your purchase when we open</p>
	<% unless @error == "" %>
  	<%= @error %>
  <% end %>
	<label>Friend's email</label>
	<input type="text" name="email[]" class="referencesEmails"><label class="error"></label>
	<input type="hidden" value="<%= params[:id] %>" name="id" />
	<div class="left"><a class="button" id="button-review"  ><span>Invite friends</span></a></div>
</form>

<%= javascript_include_tag "jquery-1.5.2.min.js" %>
<%= javascript_include_tag "JQValidation.js" %>
<%= javascript_include_tag "email_references.js" %>
