<form action="/email/addreferences" method="post">
 	<h1>Add a 10% discount</h1>
  <p>Invite 5 friends or more and we will give you an additional 10% discount on your purchase when we open</p>
	<% unless @error == "" %>
  	<%= @error %>
  <% end %>
	  <label>Fiend's email</label>
	  <input type="text" name="email[]"><label class="error"></label>
      <label>Fiend's email</label>
	  <input type="text" name="email[]"><label class="error"></label>
      <input type="hidden" value="<%= params[:id] %>" name="id" />
      <input type="submit" value="Add invitees" />
      <input type="button" value="Skip" onclick="alert('add script to close box');" />
</form>

<%= javascript_include_tag "jquery-1.5.2.min.js" %>
<%= javascript_include_tag "JQValidation.js" %>
<%= javascript_include_tag "email_references.js" %>